{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>

	<body class="{{body_class}} color-{{ color }}" data-template="base.twig">
	<div class="bg"></div>
		{{ function('wp_body_open') }}

		{% block header %}
			{% include 'header.twig' %}
		{% endblock %}

		{% block content %}
		<div class="l-wrapper u-p">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			Sorry, no content
		</div>
		{% endblock %}

		{% include 'footer.twig' %}

		{% block footer %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>

</html>
