<div class="s-home-hero">
    <div class="s-home-hero__hero" style="background-image: url({{ theme.uri }}/images/home-hero.jpg")></div>
    <div class="s-home-hero__slogan-and-job-search">
        <p class="s-home-hero__slogan">
            {{ post.header.title }}
        </p>

        <h1 class="s-home-hero__sub-slogan">{{ post.header.caption }}</h1>

        <div class="s-home-hero__job-search">

                <a href="{{ post.header.button_link }}" class="c-button --large --orange">{{ post.header.button_text }}</a>

        </div>
    </div>
</div><div class="l-wrapper">

    <ul class="c-usps --home">
        <li class="c-usps__usp">
            <div></div>
            <div>
                {{ post.homepage_text_1 }}
            </div>
        </li>

        <li class="c-usps__usp">
            <div></div>
            <div>
                {{ post.homepage_text_2 }}
            </div>
        </li>

    </ul>
</div>