{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<div class="back-button-wrapper">
				<a href="/" class="button back-button">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
					programma
				</a>
			</div>
			<img src="{{ site.theme.link }}/images/info_1024.jpg">
			<section class="article-content">
				<h1>{{ post.title }}</h1>
				<div class="article-body">
					{{ post.content }}
				</div>
			</section>
		</article>

		<img src="{{ site.theme.link }}/images/logo-alt-black.svg" class="footer-logo">

	</div><!-- /content-wrapper -->
{% endblock %}
